/* navigation */
.navigation {
    z-index: 1000;
    width: 100%;
    position: relative;
    min-height: 60px;
}

#navbarNav {
    justify-content: flex-end;
}

.navbar-brand {
    color: #2299aa !important;
    font-size: 2rem;
}

.navbar-light,
.navbar-nav,
.nav-link {
    color: #333333;
    font-weight: 600;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
}

/* button */
.btn {
    background-color: #2299aa !important;
    border-radius: 2rem !important;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
    color: #ffffff !important;
}